echo streamlit>requirements.txt
echo pymupdf>>requirements.txt
echo pytesseract>>requirements.txt
echo opencv-python-headless>>requirements.txt
echo numpy>>requirements.txt
echo pillow>>requirements.txt
echo langchain>>requirements.txt
echo langchain-groq>>requirements.txt